# Folders
__pycache__/
build/
*.egg-info


# Files
*.weights
*.t7
*.mp4
*.avi
*.so
*.txt
/datasets/
/features/
/training_results/
/training_results_old/
/features_padded.pth
/features_market.pth
/detector/faster_rcnn/models/17/
/.idea/
